@import "../../style/mixins/mixins";

.none {
  display: none!important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;

  @include b('tablet') {
    background: linear-gradient(180deg, #061912 0%, #154030 160.61%);
    border-radius: 12px;
    border: 2px solid #C99D45;
    max-width: 330px;
    width: 100%;
    max-height: 165px;
    height: 100%;
  }

  &__img, &__close {
    position: absolute;
  }

  &__close {
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
  }

  &__img {
    top: 0;
    padding-top: 18px;
  }

  &__bg {
    @include b('tablet') {
      display: none;

    }
  }


  h2 {
    position: absolute;
    padding-top: 2em;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    @include text-gradient(linear-gradient(#C99D45, #CDA14B, #D8AD5B, #EBBF77, #F7CC89, #F3C784, #E8BA75, #D6A35C, #BC8439, #A86B1D));
  }

}