<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Carbonless</title>
  <meta name="Description" content="App description.">
  <meta name="title" content="Carbonless">
  <meta name="description" content="Carbonless Token project is engaged in the implementation of reducing carbon footprint  by integrating  crypto blockchain technology  to carbon credits  by converting carbonless tokens to carbon credits in the future.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://carbonlesstoken.net/">
  <meta property="og:title" content="Carbonless">
  <meta property="og:description" content="Carbonless Token project is engaged in the implementation of reducing carbon footprint  by integrating  crypto blockchain technology  to carbon credits  by converting carbonless tokens to carbon credits in the future.">
  <meta property="og:image" content="https://carbonlesstoken.net/assets/favicons/apple-touch-icon.png">

  <!-- Twitter -->
  <meta property="twitter:url" content="https://carbonlesstoken.net/">
  <meta property="twitter:title" content="Carbonless">
  <meta property="twitter:description" content="Carbonless Token project is engaged in the implementation of reducing carbon footprint  by integrating  crypto blockchain technology  to carbon credits  by converting carbonless tokens to carbon credits in the future.">
  <meta property="twitter:image" content="https://carbonlesstoken.net/assets/favicons/apple-touch-icon.png">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1d1b21" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="keywords" content="blockchain, develop, crypto, cryptocurrency"/>
  <meta content="index, nofollow" name="robots"/>
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" href="./manifest.json">

  <% preact.headEnd %>
</head>
<body>
<% preact.bodyEnd %>
</body>

</html>
